/.vs
/.vs/SkillFactory/FileContentIndex/37ae46a6-fd90-491e-b8df-873ef73a5264.vsidx
/.vs/SkillFactory/FileContentIndex/3b423e81-9188-4374-b150-844aee9c04be.vsidx
/.vs/SkillFactory/FileContentIndex/5cb3d778-5bbb-45fa-96bd-b5f69c9cd1cf.vsidx
/.vs/SkillFactory/FileContentIndex/aa9202db-56fc-4460-bd42-1c00c273f606.vsidx
/.vs/SkillFactory/FileContentIndex/aa37cf92-487f-4d6a-a5e8-509912744f3d.vsidx
/.vs/SkillFactory/FileContentIndex/a1f13e44-fa28-4b2b-81e3-33e6dacdfbe7.vsidx
/.gitignore
/NewFile1
